.image {
    display: contents;
    overflow: hidden;
    margin: 0;
}

.videoDetails {
    display: table-cell;
    width: 68%;
    vertical-align: middle;
    overflow: hidden;
    word-break: break-all;
    text-align: left;
    height: 11rem;
    margin: 0 2%;
}